<div class="pull-right">
 <ul>
  <% if current_user %> 
    <li><span ><%=link_to "Hi, #{current_user.username}", edit_user_path(current_user) %></span></li>
    <li><span><%=link_to 'log out', logout_path %></span></li>
  <% else %>
    <li><span><%=link_to 'sign up', new_user_path %></span></li>
    <li><span><%=link_to 'sign in',  new_user_session_path %></span></li>
  <% end %>
 </ul
</div>