<div class='form'>
  <%= form_tag user_sessions_path, :method => :post do %>
    <div class="field">
      <label>Email:</label
      <%= text_field_tag :email %>
    </div>
    <br />
    <div class="field">
      <label>Password:</label>
      <%= password_field_tag :password %>
    </div>
    <br />
    <div class='submit-div'>
      <%= submit_tag 'Log in', :class => 'submit-button' %>
    </div>
  <% end %>
</div>